<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>index</key>
		<integer>0</integer>
		<key>boardID</key>
		<string>27</string>
		<key>name</key>
		<string>留学申请</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>1</integer>
		<key>boardID</key>
		<string>79</string>
		<key>name</key>
		<string>定位</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>2</integer>
		<key>boardID</key>
		<string>92</string>
		<key>name</key>
		<string>问进展</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>3</integer>
		<key>boardID</key>
		<string>82</string>
		<key>name</key>
		<string>结果汇报</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>4</integer>
		<key>boardID</key>
		<string>78</string>
		<key>name</key>
		<string>纠结</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>5</integer>
		<key>boardID</key>
		<string>87</string>
		<key>name</key>
		<string>英语考试</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>6</integer>
		<key>boardID</key>
		<string>47</string>
		<key>name</key>
		<string>签证</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>7</integer>
		<key>boardID</key>
		<string>28</string>
		<key>name</key>
		<string>找工求职</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>8</integer>
		<key>boardID</key>
		<string>99</string>
		<key>name</key>
		<string>身份移民</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>9</integer>
		<key>boardID</key>
		<string>84</string>
		<key>name</key>
		<string>编程算法</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>10</integer>
		<key>boardID</key>
		<string>70</string>
		<key>name</key>
		<string>飞友室友</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>11</integer>
		<key>boardID</key>
		<string>71</string>
		<key>name</key>
		<string>院系介绍</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>12</integer>
		<key>boardID</key>
		<string>104</string>
		<key>name</key>
		<string>海本</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>13</integer>
		<key>boardID</key>
		<string>39</string>
		<key>name</key>
		<string>农民公社</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>14</integer>
		<key>boardID</key>
		<string>128</string>
		<key>name</key>
		<string>公开课</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>15</integer>
		<key>boardID</key>
		<string>41</string>
		<key>name</key>
		<string>EECSIS</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>16</integer>
		<key>boardID</key>
		<string>46</string>
		<key>name</key>
		<string>统计</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>17</integer>
		<key>boardID</key>
		<string>126</string>
		<key>name</key>
		<string>GRE</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>18</integer>
		<key>boardID</key>
		<string>125</string>
		<key>name</key>
		<string>TOEFL</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>19</integer>
		<key>boardID</key>
		<string>29</string>
		<key>name</key>
		<string>海外生活</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>20</integer>
		<key>boardID</key>
		<string>73</string>
		<key>name</key>
		<string>灌水</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>21</integer>
		<key>boardID</key>
		<string>144</string>
		<key>name</key>
		<string>求比较</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>22</integer>
		<key>boardID</key>
		<string>145</string>
		<key>name</key>
		<string>面经</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>23</integer>
		<key>boardID</key>
		<string>137</string>
		<key>name</key>
		<string>土木环境</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>24</integer>
		<key>boardID</key>
		<string>127</string>
		<key>name</key>
		<string>财务</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>25</integer>
		<key>boardID</key>
		<string>77</string>
		<key>name</key>
		<string>学习研究</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>26</integer>
		<key>boardID</key>
		<string>172</string>
		<key>name</key>
		<string>数据科学</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>27</integer>
		<key>boardID</key>
		<string>80</string>
		<key>name</key>
		<string>男女</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>28</integer>
		<key>boardID</key>
		<string>83</string>
		<key>name</key>
		<string>机械</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>29</integer>
		<key>boardID</key>
		<string>101</string>
		<key>name</key>
		<string>金工</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>30</integer>
		<key>boardID</key>
		<string>124</string>
		<key>name</key>
		<string>车</string>
		<key>hidden</key>
		<true/>
	</dict>
	<dict>
		<key>index</key>
		<integer>31</integer>
		<key>boardID</key>
		<string>173</string>
		<key>name</key>
		<string>招生</string>
		<key>hidden</key>
		<true/>
	</dict>
</array>
</plist>
