<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>index</key>
		<integer>0</integer>
		<key>boardID</key>
		<string>27</string>
		<key>name</key>
		<string>留学申请</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>1</integer>
		<key>boardID</key>
		<string>79</string>
		<key>name</key>
		<string>定位</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>2</integer>
		<key>boardID</key>
		<string>92</string>
		<key>name</key>
		<string>问进展</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>3</integer>
		<key>boardID</key>
		<string>82</string>
		<key>name</key>
		<string>汇报比较</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>4</integer>
		<key>boardID</key>
		<string>78</string>
		<key>name</key>
		<string>纠结</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>5</integer>
		<key>boardID</key>
		<string>87</string>
		<key>name</key>
		<string>GT考试</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>6</integer>
		<key>boardID</key>
		<string>71</string>
		<key>name</key>
		<string>院系学校介绍</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>7</integer>
		<key>boardID</key>
		<string>28</string>
		<key>name</key>
		<string>找工求职</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>8</integer>
		<key>boardID</key>
		<string>99</string>
		<key>name</key>
		<string>身份移民</string>
		<key>hidden</key>
		<false/>
	</dict>
	<dict>
		<key>index</key>
		<integer>9</integer>
		<key>boardID</key>
		<string>84</string>
		<key>name</key>
		<string>编程算法</string>
		<key>hidden</key>
		<false/>
	</dict>
</array>
</plist>
